// ASCII-Generator: http://www.network-science.de/ascii/
// Fonts: big + small
// Font-Awesome Icons: http://fontawesome.io/icons/
// SASS Mixins: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
// ATOM-Plugin for Navigation: https://atom.io/packages/todo-show

//  __      __        _       _     _
//  \ \    / /       (_)     | |   | |
//   \ \  / /_ _ _ __ _  __ _| |__ | | ___  ___
//    \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
//     \  / (_| | |  | | (_| | |_) | |  __/\__ \
//      \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
// NOTE: 1. Variables

$phonelandscape: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopwide: 1200px;

$black: #000000;
$white: #FFFFFF;
$lightgray: #f2f2f2;
